<header class="header">
  <div class="container">
    <nav class="nav">
      <a class="logo" href="./index.html"
        >english<span class="excellence">excellence</span>.</a
      >
      <ul class="header-nav-list">
        <li><a class="nav-anchor" href="">About us</a></li>
        <li><a class="nav-anchor" href="">Our lessons</a></li>
        <li><a class="nav-anchor" href="">Teachers</a></li>
        <li><a class="nav-anchor" href="">Reviews</a></li>
        <li><a class="nav-anchor" href="">Contact us</a></li>
      </ul>

      <div class="social-media">
        <ul class="icons-list">
          <li class="media-icons">
            <a class="media-links" href="">
              <svg class="icon" width="24" height="24">
                <use href="./img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="media-icons">
            <a class="media-links" href="">
              <svg class="icon" width="24" height="24">
                <use href="./img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="media-icons">
            <a class="media-links" href="">
              <svg class="icon" width="24" height="24">
                <use href="./img/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <button class="menu-btn" type="button">
      <svg class="icon header-menu" width="24" height="24">
        <use href="./img/icons.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>
