.container {
    min-width: 320px;
    max-width: 375px;
    margin: 0 auto;
    padding: 0 20px;
}

.about-title {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.125;
}

.highlight {
    color: var(--green-accent);
}

.about-description {
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 16px;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    background-color: var(--gray);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card-number {
    font-size: 28px;
    font-weight: bold;
    color: var(--green);
    font-weight: 700;
}

.card-description {
    font-size: 20px;
    line-height: 1.5;
    margin-top: 16px;
}

.memoji-container {
    text-align: center;
    margin-top: 51px;
}

.memoji-image {
    max-width: 100%;
    height: auto;
}

@media only screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 32px;
    }

    .about-title {
        font-size: 40px;
        line-height: 1.2;
    }

    .about-description {
        font-size: 18px;
    }

    .cards {
        gap: 32px;
        flex-direction: row;
        justify-content: space-between;
    }

    .card {
        flex: 1;
    }

}

@media only screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
        padding: 0 64px;
    }

    .about-title {
        font-size: 40px;
    }

    .about-description {
        font-size: 18px;
    }

    .cards {
        gap: 32px;
        flex-direction: row;
        justify-content: space-around;
    }

    .card {
        flex-basis: calc(25% - 20px);
    }
}