body {
  color: var(--black);
  font-family: 'Manrope', sans-serif;
  background-color: var(--white);
}

h1 {
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.053; /* 105.263% */
}

@media (min-width: 768px) {
  h1 {
    font-size: 60px;
    line-height: 1.167; /* 116.667% */
  }
}

h2 {
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.125; /* 112.5% */
  letter-spacing: -0.64px;
}

@media (min-width: 768px) {
  h2 {
    font-size: 40px;
    line-height: 1.2; /* 120% */
    letter-spacing: -0.8px;
  }
}

h3 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2; /* 120% */
  letter-spacing: -0.4px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
}

.no-scroll {
  overflow: hidden;
}
