.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-nav-list {
  display: none;
  gap: 20px;
  flex-wrap: none;
}

@media (min-width: 1158px) {
  .header-nav-list {
    display: flex;
  }
}

.nav-anchor {
  color: var(--black);
  font-weight: 500;
  padding: 13px 0 13px;
  position: relative;
}

.nav-anchor.selected,
.nav-anchor:hover,
.nav-anchor:active,
.nav-anchor:focus {
}

.nav-anchor:hover:after,
.nav-anchor:hover:focus {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: var(--green);
  border-radius: 2px;
  height: 4px;
  width: 100%;
}

.logo {
  color: var(--dark);
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.17;
  padding-top: 16px;
  padding-bottom: 16px;
}

.excellence {
  color: var(--green);
}

.menu-btn {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1158px) {
  .menu-btn {
    display: none;
  }
}

.icon.header-menu {
  stroke: var(--black);
}

.social-media {
  display: none;
}

@media (min-width: 1158px) {
  .social-media {
    display: flex;
  }
  .icons-list {
    gap: 12px;
  }
  .media-icons {
    width: 40px;
    height: 40px;
  }
  .media-links {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid rgba(18, 20, 23, 0.1);
    fill: var(--black);
  }
  .media-links:hover,
  .media-links:focus {
    fill: var(--green);
  }
  .icon {
    width: 24px;
    height: 24px;
  }
}
