.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (min-width: 1280px) {
  .header .container {
    padding-left: 128px;
    padding-right: 128px;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-nav-list {
  display: none;
  gap: 20px;
  flex-wrap: none;
}

@media (min-width: 1280px) {
  .header-nav-list {
    display: flex;
  }
}

.nav-anchor {
  color: var(--black);
  padding: 9px 0 9px;
  position: relative;

  font-size: 14px;
  font-weight: 600;
  line-height: 1.29; /* 128.571% */
}

.nav-anchor:hover:after,
.nav-anchor:hover:focus {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: var(--green);
  border-radius: 2px;
  height: 2px;
  width: 100%;
}

.logo {
  color: var(--dark);
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.17;
}

.excellence {
  color: var(--green);
}

.menu-btn {
  width: 32px;
  height: 28px;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .menu-btn {
    width: 40px;
  }
}

@media (min-width: 1280px) {
  .menu-btn {
    display: none;
  }
}
.icon.header-menu {
  stroke: var(--black);
}
@media (min-width: 768px) {
  .icon.header-menu {
    width: 40px;
    height: 28px;
  }
}
.social-media {
  display: none;
}

@media (min-width: 1280px) {
  .social-media {
    display: flex;
  }
  .icons-list {
    gap: 12px;
  }
  .media-icons {
    width: 40px;
    height: 40px;
  }
  .media-links {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid rgba(18, 20, 23, 0.1);
    fill: var(--black);
  }
  .media-links:hover,
  .media-links:focus {
    fill: var(--green);
    border-color: rgba(77, 194, 116, 0.1);
  }
}
