.hero-content {
  padding: 0 20px 72px;
  color: var(--white);
  background: linear-gradient(
      357deg,
      rgba(0, 0, 0, 0.4) 39.23%,
      rgba(0, 0, 0, 0) 66.28%
    ),
    url(../img/hero/mob-block.jpg) lightgray -566px -29.886px / 332.537%
      104.761% no-repeat;
  background-position: center;
  background-size: cover;

  max-width: 335px;
  min-height: 709px;
  margin: auto;
  border: none;
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}

@media (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    );
  }
}

.english {
  color: var(--green-accent);
}

.hero-header {
  max-width: 295px;
}

@media (min-width: 768px) {
  .hero-content {
    gap: 36px;
  }
  .hero {
    padding: 112px 0 112px;
  }
  .hero-header {
    max-width: 496px;
  }
}

@media (min-width: 1158px) {
  .hero-content {
    gap: 48px;
  }
  .hero {
    padding: 188px 0 188px;
  }
}

.application-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--white);
  background-color: var(--green);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.714; /* 171.429% */

  min-height: 52px;
  width: 100%;
  border-radius: 4px;
  border: none;
}

.application-btn:hover,
.application-btn:focus {
  background-color: #38ae5f;
}
